# Task 2

---

## Predictive modeling of customer bookings

This Jupyter notebook includes some code to get you started with this predictive modeling task. We will use various packages for data manipulation, feature engineering and machine learning.

### Exploratory data analysis

First, we must explore the data in order to better understand what we have and the statistical properties of the dataset.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.metrics import classification_report,accuracy_score,roc_auc_score
from sklearn.linear_model import LogisticRegression,RidgeClassifier,SGDClassifier
from sklearn.naive_bayes import GaussianNB,MultinomialNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier,ExtraTreeClassifier
from sklearn.ensemble import AdaBoostClassifier,BaggingClassifier,GradientBoostingClassifier,RandomForestClassifier
from sklearn.preprocessing import MinMaxScaler,LabelEncoder
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("customer_booking.csv", encoding="ISO-8859-1")
df.head()

,num_passengers,sales_channel,trip_type,purchase_lead,length_of_stay,flight_hour,flight_day,route,booking_origin,wants_extra_baggage,wants_preferred_seat,wants_in_flight_meals,flight_duration,booking_complete
0,2,Internet,RoundTrip,262,19,7,Sat,AKLDEL,New Zealand,1,0,0,5.52,0
1,1,Internet,RoundTrip,112,20,3,Sat,AKLDEL,New Zealand,0,0,0,5.52,0
2,2,Internet,RoundTrip,243,22,17,Wed,AKLDEL,India,1,1,0,5.52,0
3,1,Internet,RoundTrip,96,31,4,Sat,AKLDEL,New Zealand,0,0,1,5.52,0
4,2,Internet,RoundTrip,68,22,15,Wed,AKLDEL,India,1,0,1,5.52,0

The `.head()` method allows us to view the first 5 rows in the dataset, this is useful for visual inspection of our columns

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   num_passengers         50000 non-null  int64
 1   sales_channel          50000 non-null  object
 2   trip_type              50000 non-null  object
 3   purchase_lead          50000 non-null  int64
 4   length_of_stay         50000 non-null  int64
 5   flight_hour            50000 non-null  int64
 6   flight_day             50000 non-null  object
 7   route                  50000 non-null  object
 8   booking_origin         50000 non-null  object
 9   wants_extra_baggage    50000 non-null  int64
 10  wants_preferred_seat   50000 non-null  int64
 11  wants_in_flight_meals  50000 non-null  int64
 12  flight_duration        50000 non-null  float64
 13  booking_complete       50000 non-null  int64
dtypes: float64(1), int64(8), object(5)
memory usage: 5.3+ MB

The `.info()` method gives us a data description, telling us the names of the columns, their data types and how many null values we have. Fortunately, we have no null values. It looks like some of these columns should be converted into different data types, e.g. flight_day.

To provide more context, below is a more detailed data description, explaining exactly what each column means:

- `num_passengers` = number of passengers travelling
- `sales_channel` = sales channel booking was made on
- `trip_type` = trip Type (Round Trip, One Way, Circle Trip)
- `purchase_lead` = number of days between travel date and booking date
- `length_of_stay` = number of days spent at destination
- `flight_hour` = hour of flight departure
- `flight_day` = day of week of flight departure
- `route` = origin -> destination flight route
- `booking_origin` = country from where booking was made
- `wants_extra_baggage` = if the customer wanted extra baggage in the booking
- `wants_preferred_seat` = if the customer wanted a preferred seat in the booking
- `wants_in_flight_meals` = if the customer wanted in-flight meals in the booking
- `flight_duration` = total duration of flight (in hours)
- `booking_complete` = flag indicating if the customer completed the booking

Before we compute any statistics on the data, lets do any necessary data conversion

In [4]:
df.describe(include='all')

,num_passengers,sales_channel,trip_type,purchase_lead,length_of_stay,flight_hour,flight_day,route,booking_origin,wants_extra_baggage,wants_preferred_seat,wants_in_flight_meals,flight_duration,booking_complete
count,50000.000000,50000,50000,50000.000000,50000.00000,50000.00000,50000,50000,50000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000
unique,NaN,2,3,NaN,NaN,NaN,7,799,104,NaN,NaN,NaN,NaN,NaN
top,NaN,Internet,RoundTrip,NaN,NaN,NaN,Mon,AKLKUL,Australia,NaN,NaN,NaN,NaN,NaN
freq,NaN,44382,49497,NaN,NaN,NaN,8102,2680,17872,NaN,NaN,NaN,NaN,NaN
mean,1.591240,NaN,NaN,84.940480,23.04456,9.06634,NaN,NaN,NaN,0.668780,0.296960,0.427140,7.277561,0.149560
std,1.020165,NaN,NaN,90.451378,33.88767,5.41266,NaN,NaN,NaN,0.470657,0.456923,0.494668,1.496863,0.356643
min,1.000000,NaN,NaN,0.000000,0.00000,0.00000,NaN,NaN,NaN,0.000000,0.000000,0.000000,4.670000,0.000000
25%,1.000000,NaN,NaN,21.000000,5.00000,5.00000,NaN,NaN,NaN,0.000000,0.000000,0.000000,5.620000,0.000000
50%,1.000000,NaN,NaN,51.000000,17.00000,9.00000,NaN,NaN,NaN,1.000000,0.000000,0.000000,7.570000,0.000000
75%,2.000000,NaN,NaN,115.000000,28.00000,13.00000,NaN,NaN,NaN,1.000000,1.000000,1.000000,8.830000,0.000000
max,9.000000,NaN,NaN,867.000000,778.00000,23.00000,NaN,NaN,NaN,1.000000,1.000000,1.000000,9.500000,1.000000

The `.describe()` method gives us a summary of descriptive statistics over the entire dataset (only works for numeric columns). This gives us a quick overview of a few things such as the mean, min, max and overall distribution of each column.

From this point, you should continue exploring the dataset with some visualisations and other metrics that you think may be useful. Then, you should prepare your dataset for predictive modelling. Finally, you should train your machine learning model, evaluate it with performance metrics and output visualisations for the contributing variables. All of this analysis should be summarised in your single slide.

# Finding NULL Values

In [5]:
df.isna().sum()

num_passengers           0
sales_channel            0
trip_type                0
purchase_lead            0
length_of_stay           0
flight_hour              0
flight_day               0
route                    0
booking_origin           0
wants_extra_baggage      0
wants_preferred_seat     0
wants_in_flight_meals    0
flight_duration          0
booking_complete         0
dtype: int64

# Processing Flight_Day Column

In [6]:
df["flight_day"].unique()

array(['Sat', 'Wed', 'Thu', 'Mon', 'Sun', 'Tue', 'Fri'], dtype=object)

In [7]:
mapping = {
    "Mon": 1,
    "Tue": 2,
    "Wed": 3,
    "Thu": 4,
    "Fri": 5,
    "Sat": 6,
    "Sun": 7
}

df["flight_day"] = df["flight_day"].map(mapping)

In [8]:
df["flight_day"].unique()

array([6, 3, 4, 1, 7, 2, 5], dtype=int64)

# Processing Sales_Channel Column

In [9]:
df["sales_channel"].unique()

array(['Internet', 'Mobile'], dtype=object)

In [10]:
mapping = {
    "Internet": 0,
    "Mobile": 1
}

df["sales_channel"] = df["sales_channel"].map(mapping)

In [11]:
df["sales_channel"].unique()

array([0, 1], dtype=int64)

# Processing Trip_Type Column

In [12]:
df["trip_type"].unique()

array(['RoundTrip', 'CircleTrip', 'OneWay'], dtype=object)

In [13]:
mapping = {
    "OneWay": 0,
    "CircleTrip": 1,
    "RoundTrip":2    
}

df["trip_type"] = df["trip_type"].map(mapping)

In [14]:
df["trip_type"].unique()

array([2, 1, 0], dtype=int64)

# Processing Route Column

In [15]:
df["route"].unique()

array(['AKLDEL', 'AKLHGH', 'AKLHND', 'AKLICN', 'AKLKIX', 'AKLKTM',
       'AKLKUL', 'AKLMRU', 'AKLPEK', 'AKLPVG', 'AKLTPE', 'AORICN',
       'AORKIX', 'AORKTM', 'AORMEL', 'BBIMEL', 'BBIOOL', 'BBIPER',
       'BBISYD', 'BDOCTS', 'BDOCTU', 'BDOHGH', 'BDOICN', 'BDOIKA',
       'BDOKIX', 'BDOMEL', 'BDOOOL', 'BDOPEK', 'BDOPER', 'BDOPUS',
       'BDOPVG', 'BDOSYD', 'BDOTPE', 'BDOXIY', 'BKICKG', 'BKICTS',
       'BKICTU', 'BKIHND', 'BKIICN', 'BKIKIX', 'BKIKTM', 'BKIMEL',
       'BKIMRU', 'BKIOOL', 'BKIPEK', 'BKIPER', 'BKIPUS', 'BKIPVG',
       'BKISYD', 'BKIXIY', 'BLRICN', 'BLRMEL', 'BLRPER', 'BLRSYD',
       'BOMMEL', 'BOMOOL', 'BOMPER', 'BOMSYD', 'BTJJED', 'BTUICN',
       'BTUPER', 'BTUSYD', 'BTUWUH', 'BWNCKG', 'BWNDEL', 'BWNHGH',
       'BWNIKA', 'BWNKTM', 'BWNMEL', 'BWNOOL', 'BWNPER', 'BWNSYD',
       'BWNTPE', 'CANDEL', 'CANIKA', 'CANMEL', 'CANMRU', 'CANOOL',
       'CANPER', 'CANSYD', 'CCUMEL', 'CCUMRU', 'CCUOOL', 'CCUPER',
       'CCUSYD', 'CCUTPE', 'CEBMEL', 'CEBOOL', 'CEBPER', 'CEBSYD',
       'CGKCKG', 'CGKCTS', 'CGKCTU', 'CGKDEL', 'CGKHGH', 'CGKHND',
       'CGKICN', 'CGKIKA', 'CGKJED', 'CGKKIX', 'CGKKTM', 'CGKMEL',
       'CGKMRU', 'CGKOOL', 'CGKPEK', 'CGKPER', 'CGKPUS', 'CGKPVG',
       'CGKSYD', 'CGKTPE', 'CGKWUH', 'CGKXIY', 'CKGCOK', 'CKGDPS',
       'CKGJHB', 'CKGKCH', 'CKGLOP', 'CKGMAA', 'CKGMEL', 'CKGMYY',
       'CKGOOL', 'CKGPEN', 'CKGPER', 'CKGPNH', 'CKGSBW', 'CKGSIN',
       'CKGSUB', 'CKGSYD', 'CKGTGG', 'CKGTRZ', 'CKGTWU', 'CMBCTS',
       'CMBCTU', 'CMBHGH', 'CMBHND', 'CMBICN', 'CMBKIX', 'CMBMEL',
       'CMBMRU', 'CMBOOL', 'CMBPEK', 'CMBPER', 'CMBPVG', 'CMBSYD',
       'CMBWUH', 'CNXHND', 'CNXICN', 'CNXKIX', 'CNXMEL', 'CNXOOL',
       'CNXPEK', 'CNXPER', 'CNXPVG', 'CNXSYD', 'CNXTPE', 'COKCTU',
       'COKHGH', 'COKICN', 'COKKIX', 'COKMEL', 'COKOOL', 'COKPER',
       'COKPUS', 'COKSYD', 'COKTPE', 'COKWUH', 'CRKMEL', 'CRKOOL',
       'CRKSYD', 'CSXPER', 'CTSDMK', 'CTSDPS', 'CTSHKT', 'CTSJHB',
       'CTSKBR', 'CTSKCH', 'CTSKNO', 'CTSLGK', 'CTSMEL', 'CTSMYY',
       'CTSOOL', 'CTSPEN', 'CTSPER', 'CTSSGN', 'CTSSIN', 'CTSSUB',
       'CTSSYD', 'CTUDPS', 'CTUHKT', 'CTUIKA', 'CTUJHB', 'CTUKBV',
       'CTUKCH', 'CTUKNO', 'CTUMAA', 'CTUMEL', 'CTUMRU', 'CTUMYY',
       'CTUOOL', 'CTUPEN', 'CTUPER', 'CTUSBW', 'CTUSIN', 'CTUSUB',
       'CTUSYD', 'CTUTGG', 'CTUTRZ', 'CTUTWU', 'CXRMEL', 'DACHGH',
       'DACHND', 'DACICN', 'DACKIX', 'DACMEL', 'DACOOL', 'DACPER',
       'DACSYD', 'DACTPE', 'DADMEL', 'DADOOL', 'DADSYD', 'DELDMK',
       'DELDPS', 'DELHKG', 'DELHKT', 'DELHND', 'DELJHB', 'DELJOG',
       'DELKBV', 'DELKCH', 'DELKIX', 'DELKNO', 'DELLGK', 'DELMEL',
       'DELMFM', 'DELMNL', 'DELMRU', 'DELMYY', 'DELOOL', 'DELPEN',
       'DELPER', 'DELPNH', 'DELSBW', 'DELSGN', 'DELSIN', 'DELSUB',
       'DELSYD', 'DELSZX', 'DMKHGH', 'DMKHND', 'DMKICN', 'DMKIKA',
       'DMKKIX', 'DMKKTM', 'DMKMEL', 'DMKMRU', 'DMKOOL', 'DMKPEK',
       'DMKPER', 'DMKPUS', 'DMKPVG', 'DMKSYD', 'DMKTPE', 'DPSHGH',
       'DPSHND', 'DPSICN', 'DPSIKA', 'DPSKIX', 'DPSKTM', 'DPSMEL',
       'DPSMRU', 'DPSOOL', 'DPSPEK', 'DPSPUS', 'DPSPVG', 'DPSSYD',
       'DPSTPE', 'DPSXIY', 'GOIKUL', 'GOIMEL', 'GOIOOL', 'GOIPER',
       'GOISYD', 'HANKTM', 'HANMEL', 'HANOOL', 'HANPER', 'HANSYD',
       'HDYHGH', 'HDYKTM', 'HDYMEL', 'HDYOOL', 'HDYPEK', 'HDYPER',
       'HDYPVG', 'HDYSYD', 'HDYTPE', 'HGHHKT', 'HGHJHB', 'HGHJOG',
       'HGHKBR', 'HGHKBV', 'HGHKCH', 'HGHKNO', 'HGHLGK', 'HGHLOP',
       'HGHMAA', 'HGHMEL', 'HGHMYY', 'HGHOOL', 'HGHPEN', 'HGHPER',
       'HGHSBW', 'HGHSUB', 'HGHSYD', 'HGHTRZ', 'HKGIKA', 'HKGKTM',
       'HKGMEL', 'HKGMRU', 'HKGOOL', 'HKGPER', 'HKGSYD', 'HKTHND',
       'HKTICN', 'HKTKIX', 'HKTKTM', 'HKTMEL', 'HKTMRU', 'HKTOOL',
       'HKTPEK', 'HKTPER', 'HKTPUS', 'HKTPVG', 'HKTSYD', 'HKTTPE',
       'HKTXIY', 'HNDIKA', 'HNDJOG', 'HNDKBR', 'HNDKBV', 'HNDKCH',
       'HNDKNO', 'HNDKTM', 'HNDLGK', 'HNDLOP', 'HNDMAA', 'HNDMEL',
       'HNDMLE', 'HNDOOL', 'HNDPEN', 'HNDPER', 'HNDPNH', 'HNDREP',
       'HNDRGN', 'HNDSBW', 'HNDSGN', 'HNDSIN', 'HNDSUB', 'HNDSYD',
       'HNDTRZ', 'HYDMEL', 'HYDOOL', 'HYDPER', 'HYDSYD', 'HYDWUH',
       'ICNIKA', 'ICNJED', 'ICNJHB', 'ICNKBR', 'ICNKBV', 'ICNKCH',
       'ICNKNO', 'ICNKTM', 'ICNLGK', 'ICNMAA', 'ICNMEL', 'ICNMLE',
       'ICNMYY', 'ICNOOL', 'ICNPEN', 'ICNPER', 'ICNREP', 'ICNRGN',
       'ICNSBW', 'ICNSDK', 'ICNSGN', 'ICNSIN', 'ICNSUB', 'ICNSYD',
       'ICNTRZ', 'ICNVTZ', 'IKAKCH', 'IKAKIX', 'IKALOP', 'IKAMEL',
       'IKAMFM', 'IKAMNL', 'IKAOOL', 'IKAPEK', 'IKAPEN', 'IKAPER',
       'IKAPUS', 'IKAPVG', 'IKASGN', 'IKASIN', 'IKASUB', 'IKASYD',
       'IKATPE', 'JEDJOG', 'JEDKNO', 'JEDMEL', 'JEDMNL', 'JEDPDG',
       'JEDPEN', 'JEDSUB', 'JHBKIX', 'JHBKTM', 'JHBMEL', 'JHBMRU',
       'JHBPEK', 'JHBPUS', 'JHBPVG', 'JHBSYD', 'JHBTPE', 'JHBWUH',
       'JHBXIY', 'JOGKIX', 'JOGKTM', 'JOGMEL', 'JOGOOL', 'JOGPER',
       'JOGPVG', 'JOGSYD', 'JOGTPE', 'KBRKIX', 'KBRKTM', 'KBRMEL',
       'KBROOL', 'KBRPEK', 'KBRPER', 'KBRPVG', 'KBRSYD', 'KBRTPE',
       'KBVKTM', 'KBVMEL', 'KBVOOL', 'KBVPEK', 'KBVPER', 'KBVPVG',
       'KBVSYD', 'KCHKIX', 'KCHKTM', 'KCHMEL', 'KCHMRU', 'KCHOOL',
       'KCHPEK', 'KCHPER', 'KCHPUS', 'KCHPVG', 'KCHSYD', 'KCHTPE',
       'KCHXIY', 'KHHMEL', 'KHHOOL', 'KHHPER', 'KHHSYD', 'KIXKNO',
       'KIXKTM', 'KIXLGK', 'KIXLOP', 'KIXMAA', 'KIXMEL', 'KIXMLE',
       'KIXMYY', 'KIXOOL', 'KIXPEN', 'KIXPER', 'KIXPNH', 'KIXREP',
       'KIXRGN', 'KIXSBW', 'KIXSGN', 'KIXSIN', 'KIXSUB', 'KIXSYD',
       'KIXTGG', 'KIXTRZ', 'KLOMEL', 'KLOOOL', 'KNOKTM', 'KNOMEL',
       'KNOOOL', 'KNOPEK', 'KNOPER', 'KNOPUS', 'KNOPVG', 'KNOSYD',
       'KNOTPE', 'KNOXIY', 'KOSMEL', 'KOSOOL', 'KOSPEK', 'KOSSYD',
       'KTMMEL', 'KTMMFM', 'KTMMYY', 'KTMPEN', 'KTMPER', 'KTMREP',
       'KTMSGN', 'KTMSIN', 'KTMSUB', 'KTMSYD', 'KTMTGG', 'KTMTPE',
       'KTMURT', 'KWLPER', 'LBUPER', 'LGKMEL', 'LGKOOL', 'LGKPER',
       'LGKPUS', 'LGKPVG', 'LGKSYD', 'LGKTPE', 'LOPOOL', 'LOPPEK',
       'LOPPVG', 'LOPSYD', 'LOPTPE', 'LOPXIY', 'LPQMEL', 'LPQOOL',
       'LPQPER', 'LPQTPE', 'MAAMEL', 'MAAMRU', 'MAAOOL', 'MAAPER',
       'MAAPVG', 'MAASYD', 'MAATPE', 'MAAWUH', 'MELMFM', 'MELMLE',
       'MELMNL', 'MELMRU', 'MELMYY', 'MELPEK', 'MELPEN', 'MELPNH',
       'MELPUS', 'MELPVG', 'MELREP', 'MELRGN', 'MELSBW', 'MELSGN',
       'MELSIN', 'MELSUB', 'MELSWA', 'MELSZX', 'MELTGG', 'MELTPE',
       'MELTRZ', 'MELTWU', 'MELURT', 'MELUTP', 'MELVTE', 'MELVTZ',
       'MELWUH', 'MELXIY', 'MFMOOL', 'MFMPER', 'MFMSYD', 'MLEPEK',
       'MLEPER', 'MLESYD', 'MNLMRU', 'MNLOOL', 'MNLPER', 'MNLSYD',
       'MRUOOL', 'MRUPEK', 'MRUPEN', 'MRUPER', 'MRUPVG', 'MRUSGN',
       'MRUSIN', 'MRUSUB', 'MRUSYD', 'MRUSZX', 'MYYOOL', 'MYYPER',
       'MYYPUS', 'MYYSYD', 'MYYXIY', 'NRTSYD', 'OOLPEK', 'OOLPEN',
       'OOLPNH', 'OOLPUS', 'OOLPVG', 'OOLREP', 'OOLRGN', 'OOLSBW',
       'OOLSDK', 'OOLSGN', 'OOLSIN', 'OOLSUB', 'OOLSZX', 'OOLTGG',
       'OOLTPE', 'OOLTRZ', 'OOLTWU', 'OOLURT', 'OOLUTP', 'OOLVTE',
       'OOLWUH', 'OOLXIY', 'PEKPEN', 'PEKPER', 'PEKREP', 'PEKRGN',
       'PEKSBW', 'PEKSIN', 'PEKSUB', 'PEKSYD', 'PEKTGG', 'PEKTRZ',
       'PEKTWU', 'PENPER', 'PENPUS', 'PENPVG', 'PENSYD', 'PENTPE',
       'PENWUH', 'PENXIY', 'PERPNH', 'PERPUS', 'PERPVG', 'PERREP',
       'PERRGN', 'PERSBW', 'PERSDK', 'PERSGN', 'PERSIN', 'PERSWA',
       'PERSZX', 'PERTGG', 'PERTPE', 'PERTRZ', 'PERTWU', 'PERUTP',
       'PERVTE', 'PERVTZ', 'PERWUH', 'PERXIY', 'PNHSYD', 'PNHTPE',
       'PNKTPE', 'PUSRGN', 'PUSSBW', 'PUSSGN', 'PUSSIN', 'PUSSUB',
       'PUSSYD', 'PUSTRZ', 'PVGREP', 'PVGRGN', 'PVGSIN', 'PVGSUB',
       'PVGSYD', 'PVGTGG', 'PVGTWU', 'PVGURT', 'REPSYD', 'REPTPE',
       'RGNSYD', 'RGNTPE', 'SBWSYD', 'SBWTPE', 'SBWXIY', 'SDKSYD',
       'SGNSYD', 'SGNXIY', 'SINSYD', 'SINTPE', 'SINWUH', 'SINXIY',
       'SRGTPE', 'SUBSYD', 'SUBTPE', 'SUBXIY', 'SYDSZX', 'SYDTPE',
       'SYDTRZ', 'SYDTWU', 'SYDVTE', 'SYDVTZ', 'SYDXIY', 'TGGTPE',
       'TGGXIY', 'TPETRZ', 'TPEVTE', 'TRZWUH', 'TRZXIY', 'TWUXIY',
       'HGHSGN', 'ICNTGG', 'JHBOOL', 'KBRXIY', 'KBVTPE', 'KIXTWU',
       'LBUTPE', 'PVGSGN', 'SBWWUH', 'DELREP', 'DPSWUH', 'HKGJED',
       'KBVKIX', 'KBVPUS', 'KIXLPQ', 'LGKPEK', 'LGKXIY', 'LOPPER',
       'PEKSGN', 'PERSUB', 'TPETWU', 'BDOWUH', 'BKIDEL', 'CKGSGN',
       'CTUKBR', 'CTULGK', 'CTUREP', 'DACMRU', 'DACPEK', 'DELRGN',
       'HDYXIY', 'HGHTGG', 'HKTWUH', 'ICNVTE', 'KBRPUS', 'KCHWUH',
       'KLOSYD', 'KNOWUH', 'MLETPE', 'SDKTPE', 'SUBWUH', 'TWUWUH',
       'AORPUS', 'BTUCKG', 'BWNWUH', 'CKGKNO', 'CKGLGK', 'CNXDEL',
       'CNXPUS', 'CTSJOG', 'CTSSBW', 'CTUDMK', 'CTULOP', 'DELKBR',
       'DELURT', 'HDYKIX', 'HGHSIN', 'HGHTWU', 'HYDMRU', 'IKASZX',
       'KBVWUH', 'KBVXIY', 'KIXLBU', 'LGKWUH', 'MELNRT', 'MLEOOL',
       'MRUTPE', 'TPEURT', 'URTXIY', 'AORPER', 'CKGHKT', 'CKGMRU',
       'CNXXIY', 'COKCTS', 'CSXMRU', 'CSXSYD', 'CTUMLE', 'CTUSGN',
       'CTUSRG', 'CTUURT', 'DACPUS', 'HGHMRU', 'HKTIKA', 'HKTJED',
       'ICNMRU', 'JEDMFM', 'KBRWUH', 'KIXMRU', 'KTMTWU', 'MLEPVG',
       'MRUXIY'], dtype=object)

In [16]:
LE=LabelEncoder()
df['route']=LE.fit_transform(df['route'])

In [17]:
df["route"].unique()

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,  27,
        28,  29,  30,  31,  32,  33,  34,  36,  37,  38,  39,  41,  42,
        43,  44,  45,  46,  47,  48,  49,  50,  51,  52,  53,  54,  55,
        56,  57,  58,  59,  60,  61,  62,  64,  65,  66,  67,  68,  69,
        70,  71,  72,  73,  74,  75,  76,  77,  79,  80,  81,  82,  83,
        84,  85,  86,  87,  88,  89,  90,  91,  92,  93,  94,  95,  96,
        97,  98,  99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109,
       110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 121, 122, 125,
       126, 127, 129, 130, 131, 132, 133, 134, 136, 137, 138, 139, 140,
       141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153,
       154, 155, 157, 158, 159, 160, 161, 162, 163, 165, 166, 167, 170,
       171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183,
       185, 187, 188, 189, 190, 192, 193, 194, 195, 196, 197, 198, 199,
       200, 202, 203, 204, 205, 207, 208, 209, 210, 212, 213, 214, 217,
       218, 220, 221, 222, 223, 224, 226, 228, 230, 231, 232, 233, 234,
       236, 237, 238, 239, 240, 241, 243, 245, 247, 248, 249, 250, 251,
       252, 253, 254, 255, 256, 257, 258, 260, 261, 262, 263, 264, 265,
       266, 267, 268, 269, 270, 271, 272, 273, 276, 277, 278, 279, 280,
       281, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294,
       295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307,
       308, 309, 310, 311, 313, 314, 315, 316, 317, 318, 319, 320, 321,
       322, 323, 324, 326, 327, 328, 329, 330, 331, 332, 333, 335, 336,
       337, 338, 339, 340, 341, 342, 343, 344, 345, 347, 348, 349, 350,
       351, 354, 355, 357, 359, 361, 362, 363, 364, 365, 366, 367, 368,
       371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 383, 384,
       385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397,
       398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 410, 411,
       412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424,
       425, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438,
       440, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453,
       454, 455, 456, 457, 458, 460, 461, 462, 463, 465, 466, 467, 468,
       469, 470, 471, 472, 474, 475, 476, 477, 478, 479, 480, 481, 482,
       483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 496,
       497, 498, 502, 503, 504, 505, 506, 508, 509, 513, 514, 515, 516,
       517, 518, 519, 520, 521, 522, 523, 525, 526, 527, 528, 529, 530,
       531, 533, 534, 536, 537, 538, 540, 541, 542, 543, 544, 545, 546,
       547, 548, 549, 550, 551, 552, 553, 555, 556, 558, 559, 560, 561,
       562, 563, 564, 565, 566, 568, 569, 570, 571, 572, 573, 574, 575,
       576, 577, 578, 579, 580, 581, 582, 583, 584, 586, 587, 588, 590,
       591, 593, 594, 595, 596, 597, 600, 601, 603, 604, 605, 606, 607,
       608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620,
       621, 622, 623, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634,
       635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647,
       648, 649, 650, 652, 653, 655, 657, 658, 659, 660, 661, 662, 663,
       664, 665, 666, 667, 668, 669, 670, 673, 674, 675, 676, 677, 678,
       679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691,
       692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704,
       705, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718,
       719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 730, 731, 732,
       733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745,
       746, 747, 748, 749, 750, 751, 752, 754, 755, 756, 757, 758, 759,
       760, 761, 762, 763, 764, 765, 767, 768, 770, 771, 772, 773, 774,
       775, 776, 777, 778, 780, 781, 782, 783, 784, 785, 786, 787, 788,
       789, 790, 793, 794, 795, 797, 352, 439, 473, 500, 510, 554, 589,
       753, 766, 274, 312, 360, 501, 507, 535, 592, 599, 602, 706, 729,
       791,  35,  40, 135, 211, 215, 225, 242, 244, 275, 334, 356, 382,
       441, 495, 524, 557, 567, 656, 769, 779, 796,  16,  63,  78, 123,
       124, 156, 164, 191, 201, 206, 216, 259, 282, 325, 353, 358, 409,
       459, 511, 512, 532, 598, 624, 651, 671, 792, 798,  15, 120, 128,
       168, 169, 184, 186, 219, 227, 229, 235, 246, 346, 369, 370, 426,
       464, 499, 539, 585, 654, 672])

# Processing Booking_Origin Column

In [18]:
df['booking_origin'].unique()

array(['New Zealand', 'India', 'United Kingdom', 'China', 'South Korea',
       'Japan', 'Malaysia', 'Singapore', 'Switzerland', 'Germany',
       'Indonesia', 'Czech Republic', 'Vietnam', 'Thailand', 'Spain',
       'Romania', 'Ireland', 'Italy', 'Slovakia', 'United Arab Emirates',
       'Tonga', 'Réunion', '(not set)', 'Saudi Arabia', 'Netherlands',
       'Qatar', 'Hong Kong', 'Philippines', 'Sri Lanka', 'France',
       'Croatia', 'United States', 'Laos', 'Hungary', 'Portugal',
       'Cyprus', 'Australia', 'Cambodia', 'Poland', 'Belgium', 'Oman',
       'Bangladesh', 'Kazakhstan', 'Brazil', 'Turkey', 'Kenya', 'Taiwan',
       'Brunei', 'Chile', 'Bulgaria', 'Ukraine', 'Denmark', 'Colombia',
       'Iran', 'Bahrain', 'Solomon Islands', 'Slovenia', 'Mauritius',
       'Nepal', 'Russia', 'Kuwait', 'Mexico', 'Sweden', 'Austria',
       'Lebanon', 'Jordan', 'Greece', 'Mongolia', 'Canada', 'Tanzania',
       'Peru', 'Timor-Leste', 'Argentina', 'New Caledonia', 'Macau',
       'Myanmar (Burma)', 'Norway', 'Panama', 'Bhutan', 'Norfolk Island',
       'Finland', 'Nicaragua', 'Maldives', 'Egypt', 'Israel', 'Tunisia',
       'South Africa', 'Papua New Guinea', 'Paraguay', 'Estonia',
       'Seychelles', 'Afghanistan', 'Guam', 'Czechia', 'Malta', 'Vanuatu',
       'Belarus', 'Pakistan', 'Iraq', 'Ghana', 'Gibraltar', 'Guatemala',
       'Algeria', 'Svalbard & Jan Mayen'], dtype=object)

In [19]:
LE=LabelEncoder()
df['booking_origin']=LE.fit_transform(df['booking_origin'])

In [20]:
df['booking_origin'].unique()

array([ 61,  36, 100,  17,  85,  43,  51,  80,  90,  28,  37,  21, 103,
        93,  86,  75,  40,  42,  81,  99,  95,  77,   0,  78,  59,  74,
        34,  71,  87,  27,  19, 101,  48,  35,  73,  20,   4,  14,  72,
         9,  65,   7,  45,  11,  97,  46,  91,  12,  16,  13,  98,  23,
        18,  38,   6,  83,  82,  54,  58,  76,  47,  55,  89,   5,  49,
        44,  31,  56,  15,  92,  70,  94,   3,  60,  50,  57,  64,  67,
        10,  63,  26,  62,  52,  24,  41,  96,  84,  68,  69,  25,  79,
         1,  32,  22,  53, 102,   8,  66,  39,  29,  30,  33,   2,  88])

In [21]:
df.head()

,num_passengers,sales_channel,trip_type,purchase_lead,length_of_stay,flight_hour,flight_day,route,booking_origin,wants_extra_baggage,wants_preferred_seat,wants_in_flight_meals,flight_duration,booking_complete
0,2,0,2,262,19,7,6,0,61,1,0,0,5.52,0
1,1,0,2,112,20,3,6,0,61,0,0,0,5.52,0
2,2,0,2,243,22,17,3,0,36,1,1,0,5.52,0
3,1,0,2,96,31,4,6,0,61,0,0,1,5.52,0
4,2,0,2,68,22,15,3,0,36,1,0,1,5.52,0

In [22]:
y=df['booking_complete'].values
df.drop('booking_complete',inplace=True,axis=1)
x=df.values

# Splitting the data

In [23]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=2)
print(f'Shape of x_train:{x_train.shape}')
print(f'Shape of y_train:{y_train.shape}')
print(f'Shape of x_test:{x_test.shape}')
print(f'Shape of y_test:{y_test.shape}')

Shape of x_train:(40000, 13)
Shape of y_train:(40000,)
Shape of x_test:(10000, 13)
Shape of y_test:(10000,)

In [24]:
lr=LogisticRegression()
rc=RidgeClassifier()
sgdc=SGDClassifier()
knn=KNeighborsClassifier()
svm=SVC()
dtc=DecisionTreeClassifier()
etc=ExtraTreeClassifier()
abc=AdaBoostClassifier()
bc=BaggingClassifier()
gbc=GradientBoostingClassifier()
rfc=RandomForestClassifier()
gnb=GaussianNB()
mnb=MultinomialNB()
models=[lr,rc,sgdc,knn,svm,dtc,etc,abc,bc,gbc,rfc,gnb,mnb]

In [25]:
for model in models:
    clf = model
    clf.fit(x_train,y_train)
    print("Model:",model)
    print("\nTraining Accuracy_Score:",accuracy_score(y_train,clf.predict(x_train)))
    print("\nTesting Accuracy_Score:",accuracy_score(y_test,clf.predict(x_test)))
    print("\nTraining AUC_Score:",roc_auc_score(y_train,clf.predict(x_train)))
    print("\nTesting AUC_Score:",roc_auc_score(y_test,clf.predict(x_test)))
    print("\nTraining Classification Report:\n",classification_report(y_train, clf.predict(x_train)))
    print("\nTesting Classification Report:\n",classification_report(y_test, clf.predict(x_test)))
    print("\n\n\n\n")

Model: LogisticRegression()

Training Accuracy_Score: 0.8497

Testing Accuracy_Score: 0.8523

Training AUC_Score: 0.49985293252544266

Testing AUC_Score: 0.49994134209291413

Training Classification Report:
               precision    recall  f1-score   support

           0       0.85      1.00      0.92     33998
           1       0.00      0.00      0.00      6002

    accuracy                           0.85     40000
   macro avg       0.42      0.50      0.46     40000
weighted avg       0.72      0.85      0.78     40000


Testing Classification Report:
               precision    recall  f1-score   support

           0       0.85      1.00      0.92      8524
           1       0.00      0.00      0.00      1476

    accuracy                           0.85     10000
   macro avg       0.43      0.50      0.46     10000
weighted avg       0.73      0.85      0.78     10000






Model: RidgeClassifier()

Training Accuracy_Score: 0.84995

Testing Accuracy_Score: 0.8524

Training AUC_Score: 0.5

Testing AUC_Score: 0.5

Training Classification Report:
               precision    recall  f1-score   support

           0       0.85      1.00      0.92     33998
           1       0.00      0.00      0.00      6002

    accuracy                           0.85     40000
   macro avg       0.42      0.50      0.46     40000
weighted avg       0.72      0.85      0.78     40000


Testing Classification Report:
               precision    recall  f1-score   support

           0       0.85      1.00      0.92      8524
           1       0.00      0.00      0.00      1476

    accuracy                           0.85     10000
   macro avg       0.43      0.50      0.46     10000
weighted avg       0.73      0.85      0.78     10000






Model: SGDClassifier()

Training Accuracy_Score: 0.848675

Testing Accuracy_Score: 0.8497

Training AUC_Score: 0.5011021239483695

Testing AUC_Score: 0.4989764274695773

Training Classification Report:
               precision    recall  f1-score   support

           0       0.85      1.00      0.92     33998
           1       0.26      0.00      0.01      6002

    accuracy                           0.85     40000
   macro avg       0.55      0.50      0.46     40000
weighted avg       0.76      0.85      0.78     40000


Testing Classification Report:
               precision    recall  f1-score   support

           0       0.85      1.00      0.92      8524
           1       0.06      0.00      0.00      1476

    accuracy                           0.85     10000
   macro avg       0.46      0.50      0.46     10000
weighted avg       0.74      0.85      0.78     10000






Model: KNeighborsClassifier()

Training Accuracy_Score: 0.872575

Testing Accuracy_Score: 0.8331

Training AUC_Score: 0.6440589523279677

Testing AUC_Score: 0.5553417482790501

Training Classification Report:
               precision    recall  f1-score   support

           0       0.89      0.97      0.93     33998
           1       0.66      0.32      0.43      6002

    accuracy                           0.87     40000
   macro avg       0.77      0.64      0.68     40000
weighted avg       0.85      0.87      0.85     40000


Testing Classification Report:
               precision    recall  f1-score   support

           0       0.87      0.95      0.91      8524
           1       0.36      0.16      0.22      1476

    accuracy                           0.83     10000
   macro avg       0.61      0.56      0.56     10000
weighted avg       0.79      0.83      0.81     10000






Model: SVC()

Training Accuracy_Score: 0.84995

Testing Accuracy_Score: 0.8524

Training AUC_Score: 0.5

Testing AUC_Score: 0.5

Training Classification Report:
               precision    recall  f1-score   support

           0       0.85      1.00      0.92     33998
           1       0.00      0.00      0.00      6002

    accuracy                           0.85     40000
   macro avg       0.42      0.50      0.46     40000
weighted avg       0.72      0.85      0.78     40000


Testing Classification Report:
               precision    recall  f1-score   support

           0       0.85      1.00      0.92      8524
           1       0.00      0.00      0.00      1476

    accuracy                           0.85     10000
   macro avg       0.43      0.50      0.46     10000
weighted avg       0.73      0.85      0.78     10000






Model: DecisionTreeClassifier()

Training Accuracy_Score: 0.9999

Testing Accuracy_Score: 0.7764

Training AUC_Score: 0.9996667777407531

Testing AUC_Score: 0.579502288453199

Training Classification Report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00     33998
           1       1.00      1.00      1.00      6002

    accuracy                           1.00     40000
   macro avg       1.00      1.00      1.00     40000
weighted avg       1.00      1.00      1.00     40000


Testing Classification Report:
               precision    recall  f1-score   support

           0       0.88      0.86      0.87      8524
           1       0.27      0.30      0.28      1476

    accuracy                           0.78     10000
   macro avg       0.57      0.58      0.58     10000
weighted avg       0.79      0.78      0.78     10000






Model: ExtraTreeClassifier()

Training Accuracy_Score: 0.9999

Testing Accuracy_Score: 0.7724

Training AUC_Score: 0.9996667777407531

Testing AUC_Score: 0.5606303388233319

Training Classification Report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00     33998
           1       1.00      1.00      1.00      6002

    accuracy                           1.00     40000
   macro avg       1.00      1.00      1.00     40000
weighted avg       1.00      1.00      1.00     40000


Testing Classification Report:
               precision    recall  f1-score   support

           0       0.87      0.86      0.87      8524
           1       0.24      0.26      0.25      1476

    accuracy                           0.77     10000
   macro avg       0.56      0.56      0.56     10000
weighted avg       0.78      0.77      0.78     10000






Model: AdaBoostClassifier()

Training Accuracy_Score: 0.8494

Testing Accuracy_Score: 0.8499

Training AUC_Score: 0.5153169819131411

Testing AUC_Score: 0.5105776579821172

Training Classification Report:
               precision    recall  f1-score   support

           0       0.85      0.99      0.92     33998
           1       0.48      0.04      0.07      6002

    accuracy                           0.85     40000
   macro avg       0.67      0.52      0.49     40000
weighted avg       0.80      0.85      0.79     40000


Testing Classification Report:
               precision    recall  f1-score   support

           0       0.86      0.99      0.92      8524
           1       0.39      0.03      0.05      1476

    accuracy                           0.85     10000
   macro avg       0.62      0.51      0.49     10000
weighted avg       0.79      0.85      0.79     10000






Model: BaggingClassifier()

Training Accuracy_Score: 0.98435

Testing Accuracy_Score: 0.8436

Training AUC_Score: 0.9491540939576213

Testing AUC_Score: 0.562341114964411

Training Classification Report:
               precision    recall  f1-score   support

           0       0.98      1.00      0.99     33998
           1       1.00      0.90      0.95      6002

    accuracy                           0.98     40000
   macro avg       0.99      0.95      0.97     40000
weighted avg       0.98      0.98      0.98     40000


Testing Classification Report:
               precision    recall  f1-score   support

           0       0.87      0.96      0.91      8524
           1       0.42      0.16      0.24      1476

    accuracy                           0.84     10000
   macro avg       0.65      0.56      0.57     10000
weighted avg       0.80      0.84      0.81     10000






Model: GradientBoostingClassifier()

Training Accuracy_Score: 0.851425

Testing Accuracy_Score: 0.852

Training AUC_Score: 0.5180860012562435

Testing AUC_Score: 0.5129298559527126

Training Classification Report:
               precision    recall  f1-score   support

           0       0.85      0.99      0.92     33998
           1       0.57      0.04      0.08      6002

    accuracy                           0.85     40000
   macro avg       0.71      0.52      0.50     40000
weighted avg       0.81      0.85      0.79     40000


Testing Classification Report:
               precision    recall  f1-score   support

           0       0.86      0.99      0.92      8524
           1       0.48      0.03      0.06      1476

    accuracy                           0.85     10000
   macro avg       0.67      0.51      0.49     10000
weighted avg       0.80      0.85      0.79     10000






Model: RandomForestClassifier()

Training Accuracy_Score: 0.99985

Testing Accuracy_Score: 0.8537

Training AUC_Score: 0.9997059630631976

Testing AUC_Score: 0.5427768748593164

Training Classification Report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00     33998
           1       1.00      1.00      1.00      6002

    accuracy                           1.00     40000
   macro avg       1.00      1.00      1.00     40000
weighted avg       1.00      1.00      1.00     40000


Testing Classification Report:
               precision    recall  f1-score   support

           0       0.86      0.98      0.92      8524
           1       0.52      0.10      0.17      1476

    accuracy                           0.85     10000
   macro avg       0.69      0.54      0.54     10000
weighted avg       0.81      0.85      0.81     10000






Model: GaussianNB()

Training Accuracy_Score: 0.828375

Testing Accuracy_Score: 0.823

Training AUC_Score: 0.5286045649940126

Testing AUC_Score: 0.5152456510487208

Training Classification Report:
               precision    recall  f1-score   support

           0       0.86      0.96      0.90     33998
           1       0.29      0.10      0.15      6002

    accuracy                           0.83     40000
   macro avg       0.57      0.53      0.53     40000
weighted avg       0.77      0.83      0.79     40000


Testing Classification Report:
               precision    recall  f1-score   support

           0       0.86      0.95      0.90      8524
           1       0.22      0.08      0.12      1476

    accuracy                           0.82     10000
   macro avg       0.54      0.52      0.51     10000
weighted avg       0.76      0.82      0.79     10000






Model: MultinomialNB()

Training Accuracy_Score: 0.617025

Testing Accuracy_Score: 0.6136

Training AUC_Score: 0.5924402780107476

Testing AUC_Score: 0.5795197745501622

Training Classification Report:
               precision    recall  f1-score   support

           0       0.89      0.63      0.74     33998
           1       0.21      0.56      0.30      6002

    accuracy                           0.62     40000
   macro avg       0.55      0.59      0.52     40000
weighted avg       0.79      0.62      0.67     40000


Testing Classification Report:
               precision    recall  f1-score   support

           0       0.89      0.63      0.73      8524
           1       0.20      0.53      0.29      1476

    accuracy                           0.61     10000
   macro avg       0.54      0.58      0.51     10000
weighted avg       0.78      0.61      0.67     10000